body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color:teal;
}

.container {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 800px;
    justify-content: space-around;
    margin-top: 70px;
    font-size: 30px;
    font-weight: bold;
    
}
nav ul a:hover {
    color:orangered;
    /* background-color:grey;
    background-blend-mode: ; */
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    text-transform:uppercase;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.container-area {
    color:black;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-image: url("../src/images/WhatsApp\ Image\ 2022-01-15\ at\ 10.28.44\ AM.jpeg");
    /* background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)); */

    /* background-position: center center;  */
    background-size:cover;
    background-attachment:fixed;
    /* background-repeat: no-repeat; */
    background-position: top -200px left 500px  ; 
    /* background-position:   left 500px  ;  */
    

}




.container-text {
    margin-left: 80px;
    margin-bottom: 200px;
    /* background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white; */
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color:darkslategray;
    font-weight: bold;
    border:6px solid greenyellow;
    border-style:ridge;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.social {
    padding-bottom: 400px;
}

.logo {
    height: 100px;
    width: 200px;
    margin: 30px;
    margin-left: 100px;
    /* border-radius: 200px; */
    border: 4px solid black
}
.social {
    margin: 30px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.photoid {
    width: 350px;
    border:15px solid darkslategray;
    border-radius: 200px;
    margin-left: 80px;
}

.photoid-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    /* margin-top: 25px; */
    width: 250px;
    /* border-radius: 125px; */
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.vai {
    display: none;
}

.vai:focus{
    outline: 0;
}


@media only screen and (max-width: 1000px) {
    .vai {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0ppx;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: row;
        background-color:gray;
    }

    .logo {
        display: none;
        
        /* border-radius: 100px; */
    }
}
